import requests

url = "{{{url}}}"

{{#hasParams}}
params = {{{params}}}
{{/hasParams}}

{{#hasHeaders}}
headers = {{{headers}}}
{{/hasHeaders}}

{{#hasCookies}}
cookies = {{{cookies}}}
{{/hasCookies}}

{{#hasData}}
data = """{{{data}}}"""
{{/hasData}}

response = requests.{{method}}(
		url,
{{#hasParams}}		params=params,{{/hasParams}}
{{#hasHeaders}}		headers=headers,{{/hasHeaders}}
{{#hasCookies}}		cookies=cookies,{{/hasCookies}}
{{#hasData}}		data=data,{{/hasData}}
)

print(response.status_code)
print(response.text)
